.destination {
	position: relative;
	background-image: url('../../assets/destination/background-destination-mobile.jpg');
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	.container {
		display: flex;
		padding: 0 5%;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 25px;
		.content {
			.left {
				display: flex;
				align-items: center;
				flex-direction: column;
				gap: 25px;
				.destinationImg {
					width: 170px;
					height: 170px;
				}
			}
			.right {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				gap: 10px;
			}
		}
	}
}
@media (min-width: 767px) {
	.destination {
		background-image: url('../../assets/destination/background-destination-tablet.jpg');
		.container {
			.content {
				.left {
					flex: 1;
					.destinationImg {
						width: 300px;
						height: 300px;
					}
					.title {
						margin-top: 25px;
						align-self: flex-start;
					}
				}
				.right {
					flex: 1;
				}
			}
		}
	}
}
@media (min-width: 1023px) {
	.destination {
		background-image: url('../../assets/destination/background-destination-desktop.jpg');
		.container {
			.content {
				display: flex;
				flex-direction: row;
				gap: 100px;
				.left {
					gap: 100px;
					.destinationImg {
						width: 445px;
						height: 445px;
					}
				}
				.right {
					align-items: flex-start;
					justify-content: flex-start;
					max-width: 700px;
				}
			}
		}
	}
}
