@import './colors';
@import './fonts';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	background-color: #333;
	font-family: $sanserif;
	color: $purpleColor;
}
body {
	height: 100%;
	font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5 {
	color: $whiteColor;
	font-family: $serif;
}
h1 {
	font-size: 15rem;
	font-weight: normal;
}
h2 {
	font-size: 10rem;
	font-weight: normal;
}
h3 {
	font-size: 5.6rem;
	font-weight: normal;
}
h4 {
	font-size: 3.2rem;
	font-weight: normal;
}
h5 {
	font-size: 2.8rem;
	font-weight: normal;
	letter-spacing: 4.75px;
}
.subheading1 {
	font-size: 2.8rem;
}
.subheading2 {
	font-size: 1.4rem;
	letter-spacing: 2.35px;
}
.sectionTitle {
	color: $whiteColor;
	text-transform: uppercase;
	font-size: 2.8rem;
	text-align: center;
	margin-bottom: 25px;
	span {
		color: grey;
		margin-right: 15px;
	}
}
.displayContentContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 15px;
}
@media (min-width: 767px) {
	.sectionTitle {
		margin-top: 25px;
		align-self: flex-start;
	}
}
